<header>
    <h1>Citizen Protection Kiosk</h1>
    <nav>
      <style>

        .kiosk-list {
          list-style-type: square;
          font-size: 18px;
        }

      </style>
      <ul class="kiosk-list">
        <!-- <li><a href="/">Home</a></li> -->
        <ul>
        <li><a href="/">Kiosk Home</a></li>
        <br>
        <% if(currentUser){ %>
          <li>Welcome, <span style="font-size: 19px;"><%= currentUser.username.toLowerCase() %></span>.&nbsp;<a href="/session/reports"> </li>

            <br>
            <li><a href="/about">Learn about the Dream to Awaken Our World</a></li>
        
              
        <br>

        <li>View Your Reports?</a></li>

        <br>
        <li><a href="/dossiers/">View all Citizens in Database</a></li>

        <br>
        <li><a href="/citizens/new">Create a New Citizen Report</a></li>
        <br>
        <li>
          <form action="/sessions/?_method=DELETE" method="POST">
            <input type="submit" value="Logout" />
          </form>
        </li>
      </ul>
  
        <% } else { %>
              <li><a href="/users/new">Kiosk Sign Up</a></li>
              <li><a href="/session/new">Kiosk Sign In</a></li>
  
        <% } %>
        <!-- <li><a href="/applications">My Applications</a></li> -->
      </ul>
    </nav>
  </header>
