<header>
    <h1>Citizen Locator</h1>
    <nav>
      <ul>
        <!-- <li><a href="/">Home</a></li> -->
        <li><a href="/">Kiosk Home</a></li>
        <li><a href="/about">The Dream to Awaken Our World</a></li>
        <% if(currentUser){ %>
        <li>Welcome <%= currentUser.username %></li>
        <li><a href="/citizens/new">Create a New Citizen Report</a></li>
        <li>
          <form action="/sessions/?_method=DELETE" method="POST">
            <input type="submit" value="Logout" />
          </form>
        </li>
  
        <% } else { %>
              <li><a href="/users/new">Sign Up</a></li>
              <li><a href="/session/new">Sign In</a></li>
  
        <% } %>
        <!-- <li><a href="/applications">My Applications</a></li> -->
      </ul>
    </nav>
  </header>
