<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs', {title: 'Citizen Finder'}) %>
    <link rel="stylesheet" href="/styles/404.css" />
  </head>

  <body>
    <div>
      <h1>Page Not Found</h1>
      <p>
        Sorry, you do not have access to this page. Please report this incident
        to your ranking supervisor.
      </p>
      <a href="/">Kiosk Homepage</a>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
