<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About Chairman Goodchild's Dream for a Harmonious Bregna`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h1>About Chairmain Goodchild</h1>
            <h4><i>Guiding Bregna Since 7017</i></h4>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>