<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About Chairman Goodchild's Dream for a Harmonious Bregna`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>

        <!-- REMEMBER TO ALTER THE TAGS BELOW WHEN YOU WANT TO USE THEM!!  -->
        <%# include('./partials/nav.ejs') %>

    <main>
        <section class="chairman">
            <h1>About Chairmain Goodchild:</h1>
            <h4><i>Leading Bregna To New Horizons Since 7017</i></h4>
        </section>
    </main>

    <a href="/">Kiosk Homepage</a>

    <%- include('./partials/footer.ejs') %>
</body>

</html>