@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.kiosk-computer-font-01 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
}

.kiosk-computer-font-03 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=VT323&display=swap');

.kiosk-computer-font-02 {
    font-family: "VT323", monospace;
    font-weight: 800;
    font-style: normal;
    font-size: 29px;
    margin-top: 10px;
}

.kiosk-computer-font-04 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}
  

#trevor-and-clavius-image {
    width: 800px !important;
    height: 600px !important;
    border: 5px solid rgb(231, 193, 96) !important;
}

.dossier-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    list-style-type: none;
    gap: 10px 30px;
}

.dossier-image {
    width: 400px;
    height: 400px;
    border: 5px solid rgb(231, 193, 96);
}

.report-image {
    width: 400px;
    height: 400px;
    border: 5px solid rgb(231, 193, 96);
}

.dossier-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    list-style-type: none;
    gap: 10px 30px;
}

.dossier-image {
    width: 400px;
    height: 400px;
    border: 5px solid rgb(231, 193, 96);
}

.bregna-tower-image {
    background-image: url('https://i.imgur.com/vn3HNdM.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.kiosk-list-bullet-pts {
    list-style-type: square;
    font-size: 25px; 
}

.kiosk-list-spacing {
    margin: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}