#trevor-image {
    width: 400px;
    height: 400px;
}


#dossier-image {
    width: 400px !important;
    height: 400px !important;
    border: 5px solid rgb(231, 193, 96) !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 10px 30px;
}

