<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Login</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div>
      <header>
        <h1>Login</h1>
        <!-- Form to create new app user -->
        <form action="/sessions" method="POST">
          Username: <input required type="text" name="username" /><br />
          Password: <input required type="text" name="password" /><br />
          <input type="submit" name="" value="Login" />
        </form>
      </header>
    </div>
  </body>
</html>
