<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sign Up</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div>
      <header
        class="login-background-img kiosk-computer-font-02 kiosk-list-spacing"
      >
        <h1>Sign Uppp</h1>
        <form action="/users" method="POST">
          Username: <input required type="text" name="username" /><br />
          Password: <input required type="text" name="password" /><br />
          <input type="submit" name="" value="Sign Up" />
        </form>
      </header>
    </div>
  </body>
</html>
