<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citizen Dossiers</title>
</head>
<body>
    <h1>Citizen Dossiers</h1>
    <ul>
        <% citizens.forEach(function(citizen) { %>
            <li>
                <img src="<%= citizen.img %>" alt="<%= citizen.name %>">
                <p><%= citizen.name %></p>
                <!-- Add more character details as needed -->
            </li>
        <% }) %>
    </ul>
</body>
</html>
